# Игнорирование виртуальных окружений
.venv/
env/
venv/

# Игнорирование файлов сборки и сгенерированных файлов
dist/
build/
*.egg-info/

# Игнорирование кэшей и промежуточных файлов
__pycache__/
*.pyc
*.pyo

# Игнорирование конфигурационных файлов IDE
.vscode/
.idea/
game_session.cast
